* {
  box-sizing: border-box;
}

body {
  background-color: #b4a5ff;
  margin: 0;
  display: flex;
  align-items: center; 
  color: #ffd8a5;
}

.calculator {
  min-width: 540px;
  width: 540px;
  height: 235px;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
  border: 3px solid #ffd8a5;
  border-radius: 10px;
}

input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  
  padding: 0px;
  width: 100%;
  border: 1px solid #ffd8a5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.time-displays, .time-inputs, .operators, .display-labels {
  display: flex;
}

.time-input {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-gap: 8px;
}

.display-labels p {
  color: #ffffff;
  padding: 5px;
  margin: 5px 30px;
  width: 100%;
  text-align: center;
  border: 1px solid #ffd8a5;
  border-radius: 5px;
}

.numpad-button {
  background: #2719704b;
  border: none;
  padding: 5px 0;
  color: #ffd8a5;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.operators .numpad-button {
  margin: 5px;
}

.is-zero {
  grid-column: span 3;
  background: #db35359a;
}
.is-clear   {
  background: #3572DB9a;
}

.is-equals {
  background: #28D0609a;
}
