html {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 1px green solid;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.calculator {
  border: 1px red solid;
}

.buttons {
}

.number-pad {
  display: flex;
  justify-content: space-between;
  border: 1px blue solid;
}
