* {
  box-sizing: border-box;
}

body {
  background-color: #b4a5ff;
  margin: 0;
  display: flex;
  align-items: center; 
  color: #ffd8a5;
}

/* div {
  border: yellow solid 1px;
} */

.calculator {
  min-width: 300px;
  width: 300px;
  height: 400px;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid #ffd8a5;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.display, .inputs, .operators {
  display: flex;
  position: relative;
}

.inputs {
  flex-direction: row;
}

.input-display {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0px;
  width: 100%;
  border: 1px solid #ffd8a5;
  border-radius: 5px;
  color: #ffffff;
  /* font-size: 3rem; */
  text-align: center;
}

#equation-display {
  position: absolute;
  right: 0;
  width: 50%;
  border: none;
}

#answer-display, #terms-display {
  font-size: 3rem;
}

.time-input {
  width: 100%;
  padding-right: 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 2fr;
}

.numpad-button {
  background: #2719704b;
  border: none;
  padding: 15px;
  color: #ffd8a5;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.is-clear   {
  grid-column: span 2;
  background: #3572DB9a;
}

.is-equals {
  grid-row: span 2;
  background: #28D0609a;
}
